.card {
  background-color: var(--clr-bg-card);
  padding: 2rem;
  display: grid;
  gap: 2rem;
  box-shadow: var(--shadow-dark-right);
}

.card:nth-of-type(even) {
  box-shadow: var(--shadow-dark-left);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text {
  display: grid;
  gap: 1.5rem;
  align-content: space-evenly;
}

.text h3 {
  font-family: var(--title-heading-family);
  background: var(--clr-primary);
  background: var(--clr-primary-gradient);
  background-clip: text;
  color: transparent;
}

.text > p {
  color: var(--clr-text-muted);
}

.links {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.links > a {
  color: var(--clr-link);
  border: 2px dotted;
  border-radius: 50%;
  padding: 5px;
  transition: all 300ms ease;
}

.links > a:hover {
  scale: 1.1;
  background-color: var(--clr-bg-primary);
}

.links > a:active {
  scale: 0.9;
}
