.card {
  background-color: var(--clr-bg-card);
  padding: 2rem;
  width: calc(100% - 34px);
  display: grid;
  gap: 2rem;
  box-shadow: var(--shadow-dark-right);
}

.card:nth-of-type(even) {
  justify-self: right;
  box-shadow: var(--shadow-dark-left);
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title > svg {
  font-size: 1.2rem;
  color: var(--clr-primary);
}

.title > h3 {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  background: var(--clr-primary);
  background: var(--clr-primary-gradient);
  background-clip: text;
  color: transparent;
}

.card > p {
  color: var(--clr-text-muted);
}
