.blogBanner {
  padding-top: 2rem;
  padding-bottom: var(--spacing);
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  object-fit: contain;
  animation: swing 3s ease-in-out infinite alternate-reverse;
}

.text {
  display: grid;
  gap: 1rem;
}

.text > h1 {
  font-size: 2rem;
  font-family: var(--intro-heading-family);
  background: var(--clr-primary-gradient);
  background-clip: text;
  color: transparent;
}

@keyframes swing {
  from {
    transform: translate(-25px, -20px);
  }
  to {
    transform: translate(25px, 20px);
  }
}

@media (min-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .text {
    gap: 2rem;
  }

  .text > h1 {
    font-size: var(--intro-heading-size);
  }

  .imgWrapper {
    height: 300px;
  }
}
