.latestPosts {
  background-color: var(--clr-bg-secondary);
  padding-block: var(--spacing);
}

.wrapper {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
}

@media (min-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}