.card {
  background-color: var(--clr-bg-card);
  padding: 2rem;
  border-radius: var(--border-radius);
  display: grid;
  gap: 1rem;
  box-shadow: var(--shadow-dark-right);
}

.card:nth-of-type(even) {
  box-shadow: var(--shadow-dark-left);
}

.title {
  font-family: var(--title-heading-family);
  background: var(--clr-primary);
  background: var(--clr-primary-gradient);
  background-clip: text;
  color: transparent;
}

.metadata {
  display: grid;
  font-size: 0.7rem;
  gap: 10px;
  color: var(--clr-text-muted);
}

.metadata > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  width: max-content;
  display: flex;
  flex-direction: column;
  color: var(--clr-link);
  font-size: 0.84rem;
}

.link::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--clr-primary-gradient);
  transition: all 300ms ease;
}

.link:hover::after {
  width: 100%;
}
