.contact {
  padding-block: var(--spacing);
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
  margin-top: 3rem;
}

.form {
  background-color: var(--clr-bg-card);
  padding: 2rem;
  border-radius: var(--border-radius);
  display: grid;
  gap: 2rem;
  box-shadow: var(--shadow-dark-right);
}

.inputGroup {
  display: grid;
  gap: 15px;
}

.inputGroup > label {
  font-size: 1rem;
  background: var(--clr-primary);
  background: var(--clr-primary-gradient);
  background-clip: text;
  color: transparent;
  font-family: var(--title-heading-family);
  font-weight: 700;
}

.inputGroup > input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-text-muted);
}

.inputGroup > textarea {
  resize: vertical;
  width: 100%;
  min-height: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-text-muted);
}

.inputGroup > :is(input, textarea) {
  color: var(--clr-text);
  transition: all 300ms ease;
  background-color: transparent;
  padding: 10px;
}

.inputGroup > :is(input:focus, textarea:focus) {
  outline: none;
  border-color: var(--clr-primary);
}

.form > button {
  border: none;
  height: 60px;
  border-radius: var(--border-radius);
  background: var(--clr-primary);
  background: var(--clr-primary-gradient);
  color: var(--clr-text);
  transition: all 300ms ease;
}

.form > button:hover {
  box-shadow: var(--shadow-color-right);
}

.form > button:active {
  scale: 0.9;
}

.pattern {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pattern {
    height: 100%;
    object-fit: cover;
  }
}
