.header {
  width: 100%;
  background-color: rgba(var(--clr-bg-primary-rgb), 0.3);
  backdrop-filter: blur(15px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.menuBtn {
  display: grid;
  gap: 5px;
  width: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuBar {
  display: flex;
  height: 2px;
  width: 100%;
  background-color: var(--clr-text);
  border-radius: 20px;
  position: relative;
  transition: 400ms ease-in-out, opacity 250ms ease, top 400ms ease 400ms;
}

.menuBtn.active > .menuBar[data-bar-1] {
  transform: rotate(45deg) translateY(10px);
}

.menuBtn.active > .menuBar[data-bar-2] {
  scale: 0;
}

.menuBtn.active > .menuBar[data-bar-3] {
  transform: rotate(-45deg) translateY(-10px);
}

.nav {
  width: 100%;
  position: fixed;
  right: -100%;
  top: 60px;
  z-index: 98;
  background-color: rgba(var(--clr-bg-primary-rgb), 0.97);
  backdrop-filter: blur(15px);
  transition: right 400ms ease;
}

.nav.active {
  top: 60px;
  right: 0;
}

.linkList {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  list-style: none;
  padding: 1.5rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-text);
}

.link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--clr-primary);
  background: var(--clr-primary-gradient);
  transition: all 300ms ease;
}

.link:hover::after {
  width: 100% !important;
}

.link.active::after {
  width: 10px;
}

@media (min-width: 600px) {
  .headerWrapper {
    height: 100px;
  }

  .menuBtn {
    display: none;
  }

  .nav {
    all: unset;
  }

  .linkList {
    flex-direction: row;
    gap: 2rem;
  }
}
