.intro {
  background-color: var(--clr-bg-secondary);
  padding-block: var(--spacing);
}

.introWrapper {
  margin-top: var(--spacing);
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}

.introText {
  display: grid;
  gap: 1.5rem;
}

.introHeading {
  font-size: var(--intro-heading-size);
  font-weight: var(--intro-heading-weight);
  font-family: var(--intro-heading-family);
}

.introCards {
  display: grid;
  gap: 2rem;
}

@media (min-width: 767px) {
  .introWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 4rem;
  }
}
