.intro {
  background-color: var(--clr-bg-secondary);
  padding-block: var(--spacing);
}

.introWrapper {
  margin-top: var(--spacing);
  display: grid;
  gap: 2rem;
}

.introText {
  display: grid;
  gap: 1.5rem;
}

.introHeading {
  font-size: var(--intro-heading-size);
  font-weight: var(--intro-heading-weight);
  font-family: var(--intro-heading-family);
}

.introCards {
  display: grid;
  gap: 2rem;
}
