@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

.link {
  color: var(--clr-link);
  text-decoration: underline;
}

.link * {
  color: var(--clr-link) !important;
}

.p {
  overflow-wrap: break-word;
  color: var(--clr-text);
  margin-bottom: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--title-heading-family);
  overflow-wrap: break-word;
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  position: relative;
}

.h2 {
  font-size: 1.333rem;
  color: var(--clr-accent);
}

.h2:not(.h2:first-child) {
  margin-top: 4rem !important;
}

.h3 {
  font-size: 1.222rem;
}
.h4 {
  font-size: 1.111rem;
}
.h5 {
  font-size: 1rem;
}
.h6 {
  font-size: 1rem;
}

/* Special styles */

.infoText,
.quoteText {
  background-color: #44bff010;
  padding: 2rem;
  margin-block: 50px;
  border-radius: 0 10px 10px 0;
  border-left: 2px solid #44bff0;
  color: var(--clr-text-muted);
  position: relative;
}

.infoIcon {
  position: absolute;
  color: #44bff0;
  font-size: 1.2rem;
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg-secondary);
  border-radius: 50%;
  top: -0.5rem;
  left: -0.5rem;
}

.infoText > p,
.quoteText > p {
  margin: 0;
  color: var(--text-muted);
  position: relative;
}

.infoText {
  border-left-color: #44bff0;
  background-color: #44bff010;
}

.quoteText {
  position: relative;
  padding: 4rem;
  font-family: "Merienda", cursive;
}

@media (max-width: 640px) {
  .quoteText {
    padding: 2rem;
  }
}

.quoteText::before {
  content: '"';
  font-size: 4rem;
  position: absolute;
  top: -0.5rem;
  left: 5px;
  opacity: 0.1;
}
.quoteText::after {
  content: '"';
  font-size: 4rem;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
  opacity: 0.2;
}

.h2::before,
.h3::before,
.h4::before,
.h5::before,
.h6::before {
  display: block;
  content: "";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

.cursive {
  font-family: "Merienda", cursive;
}

.inlineCode {
  color: var(--clr-text-muted);
  color: #44bff0;
  padding-inline: 1rem;
  background-color: var(--clr-bg-card);
}

.highlight {
  background-color: rgba(182, 186, 190, 0.849);
  padding: 2px;
  color: black;
}

@media (min-width: 900px) {
  .h2 {
    margin-top: 0;
  }
}

.blogImg {
  margin-block: 3rem;
  position: relative;
}

.blogImg > p {
  color: var(--clr-text-muted);
  font-size: 0.875rem;
  margin-top: 1rem;
  font-style: italic;
  text-align: center;
}
