@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Monda:wght@400;700&display=swap");

:root {
  --max-width: 1000px;
  --border-radius: 8px;

  /* shadow */
  --shadow-color-right: 12px 14px 10px -6px rgba(7, 7, 39, 0.9);
  --shadow-color-left: -12px 14px 10px -6px rgba(7, 7, 39, 0.9);
  --shadow-dark-right: 12px 14px 10px -6px rgba(0, 0, 0, 0.35);
  --shadow-dark-left: -12px 14px 10px -6px rgba(0, 0, 0, 0.35);

  /* padding */
  --spacing: 70px;

  /* colors */
  --clr-bg-primary: #060608;
  --clr-bg-secondary: #0f0f14;
  --clr-bg-card: #16181d;
  --clr-bg-primary-rgb: 6, 6, 8;

  --clr-primary: #3cb160;
  --clr-link: #6797ff;

  --clr-primary-gradient: linear-gradient(
    90deg,
    rgba(60, 177, 96, 1) 0%,
    rgba(60, 174, 177, 1) 100%
  );

  --clr-primary-gradient-reverse: linear-gradient(
    90deg,
    rgba(60, 174, 177, 1) 0%,
    rgba(60, 177, 96, 1) 100%
  );

  --clr-text: #f4f4f4;
  --clr-text-muted: #a7b5bf;

  /* font */
  --heading-font-family: "Monda", monospace, sans-serif;
  --text-font-family: "Inter", sans-serif;

  --main-heading-size: 2rem;
  --main-heading-weight: 700;
  --main-heading-family: var(--heading-font-family);

  --title-heading-size: 1.111rem;
  --title-heading-weight: 400;
  --title-heading-family: var(--heading-font-family);

  --intro-heading-size: 2.667rem;
  --intro-heading-weight: 400;
  --intro-heading-family: var(--heading-font-family);
}

/**** Courtsey of Josh Comeau via
***** https://www.joshwcomeau.com/css/custom-css-reset 
****/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
     and decoration
*/
* {
  margin: 0;
  text-decoration: none;
}

/*
  3. Allow percentage-based heights in the application
*/

html,
body {
  height: 100%;
  font-size: 18px;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-family: var(--text-font-family);
  background-color: var(--clr-bg-primary);
  color: var(--clr-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-top: 60px;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

/* 
*** redesign scroll bar
*/

::-webkit-scrollbar {
  /* width: 18px; */
  background-color: rgb(40, 48, 51);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(109, 128, 141);
  border-radius: 50px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

@media (min-width: 1024px) {
  :root {
    /* --main-heading-size: 4.444rem; */
    --title-heading-size: 1.778rem;
    --intro-heading-size: 3.556rem;
  }
}

@media (min-width: 767px) {
  :root {
    --spacing: 100px;
  }
}

@media (min-width: 600px) {
  body {
    padding-top: 100px;
  }
}
