:root {
  --transition: 600ms ease !important;

  /* cubic-bezier(0.25, 0.46, 0.45, 0.94) */
}

.scale {
  opacity: 0;
  transform: scale(0.9);
  transition: var(--transition);
}

.scale-in {
  opacity: 1;
  transform: scale(1);
}

.swing {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transform-origin: left;
  transform-origin: left;
  opacity: 0;
  transition: transform var(--transition);
}

.swing-in {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  opacity: 1;
}

.slide-left {
  transform: translateX(-25%);
  transition: transform var(--transition);
}

.slide-left-in {
  transform: translateX(0);
}

.slide-right {
  transform: translateX(25%);
  transition: transform var(--transition);
}

.slide-right-in {
  transform: translateX(0);
}
